# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ikerv\Desktop\IKER\Desarrollo de Aplicaciones Web Enriquecidas\Tema15\ImageShare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
